:root {
    --accent-dark: #e07a5f;
    --accent-light: #edede9;
    --bg-dark: #3d405b;
    --danger: #ff6b6b;
    --success: #2a9d8f;
    --dark-secondary: #1e1e1e;
    --light-secondary: #d4d4d4;
}